* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #8E24AA;
  height: 100%;
}

#search {
  margin: 0;
  padding: 2em;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: center;
}

input {
  color: #FFF176;
  background: #8E24AA;
  padding: 1em;
  border: 2px solid #BA68C8;
}

input[type=submit] {
  cursor: pointer;
}

input::placeholder {
  color: #BA68C8;
}

.demo {
  padding: 2em;
  margin: auto;
  width: 350px;
  height: 500px;
  background: #BA68C8;
  color: darkslateblue;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
